.container-checked {
    width: auto;
    height: auto;
    background-color: #fff;
    display: inline-flex; /* Use inline-flex to make the container fit around the content */
    align-items: center;
    justify-content: center;
  }
  
  .button {
    background-color: #d2d2d2;
    width: 53px;
    height: 28px;
    border-radius: 100px;
    cursor: pointer;
    position: relative;
    transition: 0.2s;
    border: 2px solid black; /* Adding border style */
  }
  
  
  .button::before {
    position: absolute;
    content: "";
    background-color: #fff;
    width: 23px;
    height: 23px;
    border-radius: 100px;
    margin: 2px;
    transition: 0.2s;
    border: 2px solid black;
    top: -2px;
  }
  
  input:checked + .button {
    background-color: #18a223;
  }
  
  input:checked + .button::before {
    transform: translateX(23px);
  }
  
  input {
    display: none;
  }
  
  .video-container {
    display: flex;
    justify-content: center;
  }
  
  .video-player {
    margin-right: 0.25rem;
  }
  