@keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
}

.image-container:hover img {
animation: bounce 1s infinite;
}

.link-container {
    transition: transform 0.2s ease, box-shadow 0.2s ease; /* Add box-shadow transition */
    display: inline-block;
  }
  
  .link-container:hover {
    transform: scale(1.05);
    transform-origin: center;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2); /* Add slight shadow */
  }