/* Assuming the class name for the image is "john-image" */
.john-image {
    width: 50%;
    height: auto; /* Maintain aspect ratio */
    margin-right: 20px; /* Adjust the margin-right as needed */
    transition: transform 0.5s ease; /* Apply transition effect to the transform property */
    transform: translateY(310px); /* Translate the image downwards initially */
  }
  
  .john-image:hover {
    transform: translateY(100px); /* Translate the image upwards on hover */
  }
  