@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Rubik&display=swap");


.progress-bar{
    width: 100%;
    height: 30px;
    border-radius: 10px;
    background-color: #e6e6e6;
    margin-bottom: 10px;
}

.progress-bar-fill{
    height: 100%;
    border-radius: 10px;
    background-color: #add8e6;
    transition: width 05s ease-out;
}

.progress-label{
    margin-top: 10px;
    font-size: 24px;
    font-weight:bold;
    color: #444444;
}

button {
    background-color: rgb(10, 110, 171);
    border-radius: 6px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 40px;
    outline: 0;
    text-align: center;
    margin-right: 10px;
    margin-top: 15px;
}